:root {
  --main-bg: #ffe9fa;
}

.dark-theme {
  --main-bg: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);
  min-height: 100vh;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/*** SWITCH BUTTON DARKTHEME **/
.light-dark {
  background-color: #d9d9d9;
  border: 2px solid #aaa;
  border-radius: 50%;
  padding: 0.3em;
  font-size: 2.5rem;
  align-self: flex-end;
  margin-right: 3em;
  box-shadow: 1px 1px 2px #aaa;
}

/*** DARK THEME ***/

.dark-theme {
  background-color: black;
  color: #e937c2;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
  text-shadow: 2px 2px 3px lightgray;
}

.dark-theme ul,
.dark-theme li,
.dark-theme p,
.dark-theme a {
  color: #d9d9d9 !important;
}

.dark-theme .intro-sound {
  color: #555 !important;
}

.dark-theme .intro-button {
  background-color: #e65ec8;
  border-color: #d9d9d9;
}

.dark-theme.no h2 {
  text-shadow: 1px 1px 3px lightgrey;
  font-size: 1.8rem;
}

/*** INTRO & OUTRO("no") ***/

.main-container-intro {
  width: 70vw;
  max-width: 1000px;
  margin-top: 2em;
}

.main-container-intro h1 {
  margin-top: 0;
}

.main-container-intro {
  padding-bottom: 20vh;
}

.main-container-intro ul,
.main-container-intro li,
.main-container-intro p {
  color: #410374d3;
  font-size: 1.3rem;
}

.main-container-intro ul {
  width: 80%;
  text-align: center;
  margin-top: 0;
}

.intro-animal-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 50vw;
  max-width: 85%;
  margin: 3em 5% 3em 10%;
}

.intro-animal-container .pig {
  width: 20vw;
  max-width: 400px;
}

.intro-animal-box {
  display: flex;
  width: 50%;
  padding: 1em;
  align-items: flex-start;
}

.intro-animal-img {
  width: 50%;
  object-fit: contain;
}

.intro-bubble-box {
  width: 50%;
  position: relative;
  opacity: 1;
  transition: ease-in-out 1s;
}

.intro-bubble-box-hide {
  opacity: 0;
  transition: ease-in-out 0.4s;
}

.intro-speech-bubble {
  width: 100%;
}

.intro-bubble-box p {
  font-family: "Architects Daughter", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 25%;
  left: 32%;
  margin: 0;
  text-transform: uppercase;
}

.main-container-intro li {
  padding: 0.4em;
  list-style-type: none;
  line-height: 1.5;
}

.main-container-intro h2 {
  font-size: 3rem;
}

.main-container-intro h4 {
  margin-top: 2em;
  font-size: 2rem;
  width: 80%;
  max-width: 1000px;
  text-align: center;
}

.intro-button-box {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.intro-button:nth-child(2) {
  margin-left: 2em;
}

.intro-button {
  border-radius: 100px !important;
}

.main-container-intro a,
.no a {
  color: white;
  text-decoration: none;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 3em;
  padding-bottom: 10em;
}

/*** Outro "No" ***/

.no {
  padding-bottom: 3em;
}

.no img {
  border: solid 4px pink;
  min-width: 30vw;
  max-width: 95vw;
  margin: 3em;
}

.no h2 {
  margin: 1em;
}

.no .light-dark {
  margin-top: 2em;
  margin-right: 31vw;
}

/*** APP STYLING ***/

h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 4px blueviolet;
  margin-bottom: 0;
}

h2 {
  text-shadow: 1px 1px 3px blueviolet;
  margin-bottom: 2em;
}

h3 {
  text-shadow: 1px 1px 3px blueviolet;
  font-size: 3rem;
  margin: 0;
}

h1,
h2,
h3,
.bubble-and-button-box {
  font-family: "Architects Daughter", cursive;
  text-align: center;
}

/*** CAROUSEL ***/

.carousel {
  display: grid;
  grid-template-columns: 5em 40vw 5em;
  grid-template-rows: 45vh 3em;
  align-items: center;
  grid-gap: 2em;
}

.carousel > *:nth-child(2) {
  grid-column: 2;
  align-self: stretch;
}

.carousel__contents-container {
  overflow: hidden;
  box-shadow: 1px 1px 3px #d1b0c9;
  border-radius: 10px;
}

.carousel__contents {
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
  margin: 0;
}

.carousel__slide {
  list-style-type: none;
  width: inherit;
  height: inherit;
  position: absolute;
}

.animal-box {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f6f6f6;
}

.animal-img {
  height: 70%;
  object-fit: cover;
  object-position: center center;
  padding: 2em;
}

.animal-img:hover {
  cursor: grab;
}

.bubble-and-button-box {
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.bubble {
  height: 80%;
  text-transform: uppercase;
  font-weight: bold;
  transition: ease-in-out 1s;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: ease-in-out 0.4s;
}

.bubble.talk {
  opacity: 1;
  width: 80%;
  transition: ease-in-out 1s;
}

.bubble-img {
  width: 60%;
}

.bubble-text {
  position: absolute;
  margin-bottom: 2.5em;
  font-size: 200%;
}

.talk-button {
  font-size: 1.5rem;
  background-color: #e937c2;
  max-height: 100%;
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #555;
  text-shadow: 1px 1px 1px darkviolet;
  padding: 0.5em 1em;
  border-radius: 50%;
  border: 2px solid white;
  outline: 1px solid #777;
  box-shadow: 1px 1px 2px darkviolet;
  cursor: pointer;
}

.talk-button:hover {
  opacity: 0.6;
}

.talk-button:active {
  background-color: blueviolet;
  transform: scale(1.1);
}

.carousel__button {
  background-color: transparent;
}

.previous-button {
  border-left: 2em solid transparent;
  border-right: 3em solid darkgrey;
  border-bottom: 2em solid transparent;
  border-top: 2em solid transparent;
}

.previous-button:hover {
  border-right: 3em solid #d9d9d9;
  cursor: pointer;
}

.next-button {
  border-left: 3em solid darkgrey;
  border-right: 2em solid transparent;
  border-bottom: 2em solid transparent;
  border-top: 2em solid transparent;
}

.next-button:hover {
  border-left: 3em solid #d9d9d9;
  cursor: pointer;
}

.carousel__dots {
  grid-column: 1 / -1;
  justify-self: center;
}

.carousel__dot {
  width: 1em;
  height: 1em;
  padding: 0;
  border-radius: 100%;
  border: none;
  background-color: darkgrey;
}

.carousel__dot + .carousel__dot {
  margin-left: 1em;
}

.carousel__dot:hover {
  background-color: #e937c2;
  cursor: pointer;
}

.carousel__dot.is-selected {
  background-color: blueviolet;
}

/*** LANGUAGE CHOOSER ***/

.language-chooser {
  margin-bottom: 20vh;
}

.menu-button {
  margin-top: 1em;
  padding: 1em 2em;
  background-color: #f6f6f6;
  color: #410374d3;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #d1b0c9;
  cursor: pointer;
}

.fa-caret-down {
  margin-left: 1em;
  color: #530296d3;
}

.dropdown-content {
  margin-top: 1em;
  color: #410374d3;
  background-color: #f6f6f6;
  font-size: 1.2rem;
  /*   height: 0;
 */
  border-radius: 10px;
  box-shadow: 1px 1px 3px #d1b0c9;
  overflow: scroll;
  transition: height 0.1s ease, opacity 1s ease;
}

.menu-list {
  padding: 0.5em 0 0 2em;
}

.menu-item {
  padding: 0.5em;
  padding-left: 0.8em;
  margin-right: 1em;
  list-style-type: none;
  cursor: pointer;
}

.menu-item:hover {
  background-color: darkviolet;
  color: white;
  border-radius: 5px;
}

.menu-item:active {
  background-color: #e937c2;
  transform: scale(1.2);
}

.menu-flag {
  margin-bottom: -6px;
  margin-right: 0.9em;
  width: 1.3em;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #555;
}

/*** DISCLAIMER ***/

.disclaimer-box {
  align-self: flex-end;
  margin-right: 5em;
  text-align: right;
}

.info-box {
  display: flex;
  margin: 2em 3em;
  justify-content: right;
  font-size: 0.7rem;
}

.info-box a {
  color: #e65ec8;
}

.info-box a:visited {
  color: blueviolet;
}

.website-info a {
  margin-left: 0.3em;
}

.website-info {
  margin-bottom: 1em;
}

.flat-icon-info {
  margin-top: 1em;
}

/*** MEDIAQUERIES ***/

/*** Very large screens: Mediaqueries min 2000px ***/

@media (min-width: 2000px) {
  .main-container-intro {
    max-width: 60vw;
  }
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 2vw !important;
  }
  h3 {
    font-size: 2vw;
  }
  h4 {
    font-size: 2vw !important;
  }
  li {
    font-size: 1vw !important;
  }
  button {
    font-size: 1vw !important;
  }
  .intro-animal-container {
    margin: 5vh;
  }
  .intro-animal-container .pig {
    max-width: 30vw;
  }

  .light-dark {
    font-size: 2vw !important;
    margin-right: 3vw;
  }
  .carousel {
    grid-template-columns: 15em 40vw 5em;
    grid-template-rows: 45vh 3em;
    grid-gap: 5em;
  }
  .disclaimer-box {
    margin-right: 2vw;
  }
}

/*** Mediaqueries max 2000px ***/

@media (max-width: 2000px) {
  .bubble-text {
    font-size: 180%;
  }
}

@media (max-width: 2000px) {
  .bubble-text {
    font-size: 100%;
  }
}

@media (max-width: 2000px) {
  .no .light-dark {
    margin-right: 10vw;
  }
}

/*** Mediaqueries max 1200px ***/

@media (max-width: 1200px) {
  .carousel {
    grid-template-columns: 5em 50vw 5em;
    grid-template-rows: 45vh 3em;
    grid-gap: 3em;
  }

  .main-container-intro {
    width: 100%;
    padding: 0;
  }

  .intro-light-dark {
    margin-top: 2em;
    margin-right: 2em;
  }

  .no .light-dark {
    margin-right: 5vw;
  }
  .intro-animal-box-cat {
    display: none;
  }

  .intro-animal-container {
    margin: 0;
  }

  .intro-animal-box {
    width: 80%;
    padding: 0;
    margin: 3em 0;
  }
  .intro-animal-container .pig {
    width: 100%;
  }
}

/*** Mediaqueries max 900px ***/
@media (max-width: 900px) {
  .carousel {
    grid-template-columns: 5em 70vw 5em;
    grid-template-rows: 45vh 3em;
    grid-gap: 2em;
  }

  .intro-light-dark {
    margin-top: 2em;
    margin-right: 1.5em;
  }

  .intro-animal-box-cat {
    display: none;
  }

  .intro-animal-container {
    margin: 2em 0;
  }

  .intro-animal-box {
    width: 100%;
    padding: 0;
    margin: 2em 0;
  }
  .intro-animal-container .pig {
    width: 100%;
  }
}

/*** Mediaqueries max 600px ***/

@media (max-width: 600px) {
  .carousel {
    grid-template-columns: 2em 95vw 2em;
    grid-template-rows: 45vh 3em 10em;
    grid-gap: 2;
  }

  .carousel__button {
    display: none;
  }

  .previous-button-mobile {
  }

  .carousel__slide .animal-img {
    padding: 1em;
    height: 55%;
    max-width: 50%;
    object-fit: contain;
  }

  .bubble-and-button-box {
    height: 55%;
  }

  .talk-button {
    font-size: 1.2rem;
  }

  .main-container {
    padding: 0;
  }
  h1 {
    font-size: 3rem;
    margin: 1em;
  }

  h2 {
    margin: 1em;
  }

  .main-container-intro h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
    margin: 1em;
  }

  h4 {
    font-size: 1.5rem;
    margin: 1em;
  }

  .light-dark {
    margin-right: 1.5em;
  }

  .main-container-intro ul {
    padding-left: 0;
  }

  .intro-button-box {
    flex-direction: column;
    align-items: center;
  }
  .intro-button {
    margin: 0 !important;
    margin-bottom: 1em !important;
  }

  .intro-light-dark {
    margin: 2em 1.5em 2em 0;
  }

  .intro-animal-box-cat {
    display: none;
  }

  .intro-animal-container {
    margin: 0;
  }

  .intro-animal-box {
    width: 100%;
    padding: 0;
    margin: 2em 0;
  }
  .intro-animal-container .pig {
    width: 100%;
  }

  .carousel {
    margin-top: 2em;
  }

  .disclaimer-box {
    align-self: flex-end;
    margin-right: 1em;
  }

  .no img {
    max-width: 80vw;
  }

  .intro-button {
    max-width: 80vw; /* this is for the "intro" button in the outro */
  }

  .no .light-dark {
    margin-right: 6vw;
  }
}
/*** special mediaquerie for carousel max-height 555px ***/

@media (max-height: 555px) {
  .carousel {
    grid-template-rows: 300px 3em;
  }
}
